HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/logs/archived/application_logback-2025-10-19.0.log
/logs/archived/application_logback-2025-10-23.0.log
/logs/archived/application_logback-2025-10-24.0.log
/logs/archived/application_logback-2025-10-25.0.log
/logs/archived/application_logback-2025-10-26.0.log
/logs/archived/application_logback-2025-10-27.0.log
/logs/archived/application_logback-2025-10-28.0.log
